<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dupreeincabolnuevo.dupree">

    <!-- "com.dupree2.Dupre" -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.FLAG_GRANT_WRITE_URI_PERMISSION" />
    <uses-permission android:name="android.permission.FLAG_GRANT_READ_URI_PERMISSION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name="com.dupreeincabolnuevo.dupree.BaseAPP"
        android:allowBackup="true"
        android:icon="@drawable/logo_azzorti"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_azzorti"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- FIREBASE -->
        <service android:name="com.dupreeincabolnuevo.dupree.mh_firebase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.dupreeincabolnuevo.dupree.mh_firebase.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!--
        provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.dupreeinca.dupree.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider
        -->

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.image.lib_image.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_image_paths" />
        </provider>

       <!-- <provider android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.com.cloudemotion.lib_image.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_image_paths" />
        </provider>-->

        <activity
            android:name="com.dupreeincabolnuevo.dupree.MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.dupreeincabolnuevo.dupree.MenuActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_menu"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name="com.dupreeincabolnuevo.dupree.ImageZoomActivity" />
        <activity
            android:name="com.dupreeincabolnuevo.dupree.mh_utilities.ImageZoomActivity_Scroll"
            android:label="Imagen"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.dupreeincabolnuevo.dupree.CatalogoViewerActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dupreeincabolnuevo.dupree.mh_bar_scann.BarcodeCaptureActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dupreeincabolnuevo.dupree.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.dupreeincabolnuevo.dupree.PDFActivity"></activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="01afc6e213851731dcca8bc277b49b80fbb73dd6" />

        <activity android:name="com.dupreeincabolnuevo.dupree.mh_fragments_menu.incorporaciones.listado.incripcion.InscripcionActivity"></activity>
        <activity android:name="com.dupreeincabolnuevo.dupree.mh_fragments_menu.reportes.ReportesActivity" />
        <activity android:name="com.dupreeincabolnuevo.dupree.mh_fragments_menu.pedidos.historial.detalle_factura.DetalleFacturaActivity" />
    </application>

</manifest>